

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

#page { width: 1200px; margin: 0 auto;}

#map-wrapper {
	margin: 0 auto;
	width: inherit;
	height: 650px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

#members {
	font-size: 1.1em;
}

.prose {
	text-align: center;
}

a { text-decoration: none; color: #2196F3; }

/*h1 span::first-letter{text-transform: uppercase;}*/

#map-nav {  
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap; /* flex-direction flex-wrap */
	justify-content: space-around; /* how remaining space is distributed */

	margin: 2% auto;
}

.map-input {
	background-color: rgba(182,182,182,0.3);
	height: 50px;
	width: 14%;
	margin: auto;
	margin-top: 10px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.selected {
	background-color: rgba(182,182,182,1);
	color: white;
}

.graph-input:hover {
	background-color: rgba(182,182,182,1);
}

#comparison {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
#comparison div { width: 250px; margin-bottom: 10px;}
#comparison span { font-weight: bold; }
#comparison div:nth-child(odd) { float: left; }
#comparison div:nth-child(even) { float: right; }

#analysis { margin: 0 auto; width: 700px; }

.state 
{
	fill: black;
	stroke:white;
	stroke-width:1;
	stroke-opacity:1;
}

.territory /* I don't know where these are, but it probably doesn't matter */
{
	opacity:0;
	fill: black;
	stroke: black;
	stroke-width:1;
	stroke-opacity:1;
}

.territoryborder
{
	opacity:0;
	fill:none;
	stroke:#A9A9A9;
	stroke-width:2;
}

.border
{
	opacity:1;
	fill:none;
	stroke:#A9A9A9;
	stroke-width:2;
}

.circle
{
   opacity:1;
   fill: black;
   stroke: white;
   stroke-width:1;
}

#map svg {
	display: block;
	margin: 0 auto;
}

#city { }
table { margin: 0 auto; border-collapse: collapse; font-size: 12px;}
td { height: 30px; line-height: 30px; padding: 0px 10px;}
td:nth-child(odd) { width: 140px;  }
td:nth-child(even) { width: 40px; }
tr:nth-child(even) { background-color: #B6B6B6; }
/*tr:nth-child(odd) { background-color: #F5F5F5; }*/

#options {
	border: 2px solid black;
}

#bottom-content p {
	float: left;
}

#bottom-content #gradient-wrapper {
	float: right;
}

#gradient-wrapper div {
	float: left;
	height: 30px;
	line-height: 30px;
}

#low-end {
	font-weight: bold;
	margin-right: 10px;
}
#high-end {
	font-weight: bold;
	margin-left: 10px;
}

#gradient {
	width: 150px;
}
#gradient div {
	width: 30px;
	height: inherit;
}

#statistics {
	float: left;
}




/* TREEMAP */
.treemap-wrapper {
	position: relative;
	margin: 0px auto 0px auto;
  	width: 960px;
}

.node {
  border: solid 1px white;
  font: 12px;
  color: white;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}


#tooltip {
  position: absolute;
  width: 220px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 5; /* put it in front of treemap */
}

#tooltip.hidden {
  display: none;
}

#tooltip p, td {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
  /*font-weight: bold;*/
}

#tooltip.tree p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  /*font-weight: bold;*/
}

#tooltip p span {
	/*font-weight: normal;*/
}

strong#header {
	margin-bottom: 5px;
	font-size: 16px;
}






/* BOXPLOT */
#boxplot {
	margin: 30px auto;
	width: inherit;
}

#boxplot-wrapper {
	/*float: left;*/
	display: block;
	margin: 0px auto 30px auto;
}

#boxplot-options {
	/*float: right;*/
	width: 300px;
}

#boxplot-options div {
	margin-bottom: 25px;
}

#dropdown {
	margin: 0 auto;
}

.box {
  font: 10px;

}
.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}
.box .center {
  stroke-dasharray: 3,3;
}
.box .outlier {
  fill: none;
  stroke: #000;
}
.axis {
  font: 12px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}